.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
}

.hidden {
    transform: translateY(100%);
    opacity: 0;
}

.visible {
    transform: translateY(0);
    opacity: 1;
}
