@import url('../../../../public/assets/fonts/fonts.css');

.container{
    display: flex;
}

.container h2 {
    font-family: Inter,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--night);
}