.container main {
  padding-bottom: 128px;
}

.container {
  position: absolute;
  inset: 56px 0 0 30px;
  overflow-y: auto;
  padding: 24px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
