.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: var(--stone-2);
}

.skeleton::after {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(255 255 255 / 20%) 20%,
    rgb(255 255 255 / 50%) 60%,
    transparent
  );
  animation: var(--animation-slide-out-right) infinite;
  animation-duration: 2s;
  content: "";
}
