@import url("../../../../public/assets/fonts/fonts.css");

.container{
    display: flex;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.content h2 {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
}

.content span {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-dark);
}