.tab {
    all: unset;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--night);
    background-color: var(--snow);

    &:hover {
        color: var(--dust);
    }

    &[data-state="active"] {
        color: var(--dust);
    }
}
