.trigger {
  background-color: transparent;
  cursor: pointer;
  color: var(--snow);
  fill: var(--snow);
  padding: 0;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  gap: 4px;
  position: relative;
  z-index: 1001;
}
  
.trigger[data-state="open"], .trigger[data-state="open"] .icon {
  color: var(--dust);
  fill: var(--dust);
}
  
.trigger[data-state="closed"], .trigger[data-state="closed"] .icon {
  color: var(--snow);
  fill: var(--snow);
}
  
.trigger:hover, .trigger:hover .icon {
  color: var(--dust);
  fill: var(--dust);
}
  
.trigger:focus, .trigger:focus .icon {
  color: var(--dust);
  fill: var(--dust);
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.trigger[data-state="open"] .iconWrapper {
  transform: rotate(180deg);
}

@media (max-width: 834px){
  .trigger {
    display: flex;
  }
}