.markdown {
    width: 100%;
    min-width: 100%;
    font-family: Inter, sans-serif;
}

.markdown h1 {
    font-family: MerriweatherItalic, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    max-width: 440px;
    color: var(--night);
}

.markdown h2 {
    font-family: MerriweatherItalic, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    max-width: 440px;
    color: var(--night);
}

.markdown h3 {
    font-family: MerriweatherItalic, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    max-width: 440px;
    color: var(--night);
}

.markdown h4 {
    font-family: MerriweatherItalic, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    max-width: 440px;
    color: var(--night);
}

.markdown p {
    min-width: 100%;
    font-family: MerriweatherRegular, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: var(--charcoal-grey);
}

.markdown h1, .markdown h2, .markdown h4, .markdown h3, .markdown ul {
    min-width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
}

.markdown strong,
.markdown b {
    font-weight: 700;
    color: var(--night);
}

.markdown ul, .markdown ol {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: MerriweatherRegular, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style: disc;
}

.markdown ul li,
.markdown ol li {
    min-width: 100%;
    padding: 0;
}

.markdown hr {
    min-width: 100%;
    border: 1px solid var(--light-grey);
    margin-top: 32px;
    margin-bottom: 32px;
}
