.separator {
    border-top: 1px solid #fff3;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.wrapper {
    background-color: var(--night);
    display: flex;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    justify-content: end;
}

.button {
    border-radius: 100px;
    padding: 2px 8px;
    background-color: #fff3;
    color: var(--snow);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.selectedButton {
    background-color: var(--dust);
    color: var(--night);
}

.explanationContent {
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 105px);
    padding-bottom:32px;
    width: 100%;
    overflow-y: auto;
    background-color: var(--snow);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.explanationContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.mobileExplanationContent {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.mobileExplanationContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.loadingCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.textFade {
    animation: fade-left-to-right 1.5s ease-in-out infinite alternate;
}

.animateSpin {
    animation: spin 1s linear infinite;
}


.markdown {
    padding: 0;
}

.rating{
    margin-top: 32px;
    position: relative;
}

@keyframes spin { 
    0% {
        transform: rotate(0deg);
        opacity: 0.6;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes fade-left-to-right {
    0% {
        opacity: 0.3;
        transform: translateX(-10px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.8;
        transform: translateX(0);
    }
}

/* star tablet portrait */

@media screen and (min-width: 834px) {
    .explanationContent {
        padding-top: 16px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 834px) and (max-width: 1024px) and (orientation: portrait) {
    .explanationContent {
        padding-top: 16px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 834px) and (max-width: 1024px) and (orientation: landscape) {
    .explanationContent {
        padding-top: 24px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

/* end tablet portrait */

/* start table landscape */

@media screen and (min-width: 1024px) {
    .explanationContent {
        height: calc(100dvh - 55px);
        padding-top: 24px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

/* end table landscape */

/* start desktop */

@media screen and (min-width: 1025px) and (max-width: 1994px) {
    .explanationContent {
        padding-top: 24px;
        padding-left: 48px;
        padding-right: 48px;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    
    .explanationContent::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

/* end desktop */

/* Hide NavLinks buttons and separator on tablet when they appear in header */
@media screen and (min-width: 834px) and (max-width: 1023px) {
    .wrapper {
        display: none;
    }

    .separator {
        display: none;
    }
}
