.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    height: calc(100dvh);   
    font-family: Inter, sans-serif;
    padding: 24px;
    background-image: linear-gradient(to top left, var(--rodeo-dust) 45%, var(--night) 80%);
}