/* Tablet HowItWorks Section */
.section {
  width: 100%;
  max-width: 100vw;
  height: 1799px;
}

.title {
  max-width: 228px;
  min-height: 40px;
}

.titleText {
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
}

@media (min-width: 900px) {
  .titleText {
    font-size: 20px;
    line-height: 32px;
  }
}

.content {
  max-width: 896px;
  min-height: 1400px;
}

.textGroup {
  max-width: 896px;
  min-height: 150px;
}

.heading {
  font-size: 40px;
  line-height: 52px;
}

@media (min-width: 900px) {
  .heading {
    font-size: 48px;
    line-height: 64px;
  }
}

.description {
  font-size: 20px;
  line-height: 28px;
}

@media (min-width: 900px) {
  .description {
    font-size: 24px;
    line-height: 32px;
  }
}

.imagesSection {
  width: 896px;
  height: 1095px;
}

.imagesContainer {
  width: 896px;
  height: 658px;
}

.summaryImage {
  width: 416px;
  height: 380.3px;
  left: 173px;
  top: 0;
  border-radius: 20px;
  background-image: url("/howitworks1.png");
  background-size: cover;
  background-position: center;
}

.lineByLineImage {
  width: 416px;
  height: 380.3px;
  left: 385px;
  top: 115px;
  border-radius: 20px;
  background-image: url("/howitworks2.png");
  background-size: cover;
  background-position: center;
}

.detailedImage {
  width: 416px;
  height: 380.3px;
  left: 95px;
  top: 278px;
  border-radius: 20px;
  background-image: url("/howitworks3.png");
  background-size: cover;
  background-position: center;
}

.descriptionsContainer {
  width: 896px;
  height: 357px;
}

.featureBlockSummary {
  width: 896px;
  height: 69px;
}

.featureBlockLineByLine {
  width: 896px;
  height: 104px;
}

.featureBlockDetailed {
  width: 896px;
  height: 104px;
}

.featureTitle {
  width: 896px;
}

.featureTitleSummary {
  height: 29px;
}

.featureTitleLineByLine {
  height: 32px;
}

.featureTitleDetailed {
  height: 32px;
}

.featureDescription {
  width: 896px;
}

.featureDescriptionSummary {
  height: 32px;
}

.featureDescriptionLineByLine {
  height: 64px;
}

.featureDescriptionDetailed {
  height: 64px;
}

.bottomText {
  width: 740px;
  height: 64px;
}
