
.rightBlock {
    display: flex;
    align-items: center;
    width: auto;
    height: 17px;
}
  
.rightBlock ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    list-style: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-dark);
}
  
.rightBlock ul li a {
    text-decoration: none;
    color: inherit;
}
  
@media (max-width: 490px) {
    .rightBlock ul {
        display: flex;
        gap: 8px;
        font-size: 12px;
        line-height: 16px;
    }
}