.listWrapper {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--size-2);
}

.listItem {
  display: flex;
  align-items: center;
  column-gap: var(--size-2);
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--gray);
}
